fastapi
uvicorn[standard]
python-multipart
pydantic
torch
torchvision
open_clip_torch
git+https://github.com/openai/CLIP.git
Pillow
qdrant-client
httpx
python-dotenv
beautifulsoup4
lxml
scikit-learn
pymongo
motor
gradio_client
opencv-python
mediapipe
numpy
